<ion-header>
  <ion-toolbar>
    <ion-title>
      My Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-avatar slot="start" class="worker-image">
        <img src="./assets/profile.jpg" />
      </ion-avatar>
      <div id="change-photo" text-center><a><ion-icon name="create"></ion-icon>Change Photo</a></div>
      <ion-card-header>
        <ion-card-title text-center id="profile-name">Windelle John Vega</ion-card-title>
        <ion-card-subtitle text-center><ion-icon name="pin"></ion-icon> Alimannao, Peñablanca, Cagayan</ion-card-subtitle>
        <ion-card-subtitle text-center><ion-icon name="call"></ion-icon> 0917 123 4567</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>
    <ion-list padding>
      <ion-list-header>
        Account Settings
      </ion-list-header>
      <ion-item lines="inset">
        <ion-label>
          <p><ion-icon name="chatboxes"></ion-icon> Message Logs</p>
        </ion-label>
      </ion-item>
      <ion-item lines="inset">
        <ion-label>
          <p><ion-icon name="create"></ion-icon> Edit Profile</p>
        </ion-label>
      </ion-item>
      <ion-item lines="inset">
        <ion-label>
          <p><ion-icon name="lock"></ion-icon> Change Password</p>
        </ion-label>
      </ion-item>
      <ion-item lines="inset" (click)="logout()">
        <ion-label>
          <p><ion-icon name="log-out"></ion-icon> Logout</p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
