<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button class="back-button"></ion-back-button>
      </ion-buttons>
    <ion-title>Recent Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item (click)="loadMessages(conversation.id, conversation.users[0].firstname, conversation.users[0].profile_picture_url)" *ngFor="let conversation of conversations">
    <ion-avatar slot="start">
      <img [src]="conversation.users[0].profile_picture_url">
    </ion-avatar>
    <ion-label>
      <h2>{{ conversation.users[0].firstname }} {{ conversation.users[0].lastname }}</h2>
      <p>{{ conversation.latest_message.message }}</p>
    </ion-label>
  </ion-item>
</ion-content>
