<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button class="back-button"></ion-back-button>
      </ion-buttons>
    <ion-title>Recent Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item routerLink="/messaging">
    <ion-avatar slot="start">
      <img src="https://picsum.photos/200">
    </ion-avatar>
    <ion-label>
      <h2>Finn</h2>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://picsum.photos/200">
    </ion-avatar>
    <ion-label>
      <h2>Han</h2>
      <p>I've got enough on my plate as it is, and I...</p>
    </ion-label>
  </ion-item>
</ion-content>
