.label {
    color: #3354b8;
}

.detail {
    color: #737373;
}

ion-card {
    margin-top: 20px;
}

ion-item ion-label{
    margin: 0;
    font-size: 14px;
}

ion-icon {
    color: #737373;
    padding-right: 8px;
}

.detail a {
    color: #3354b8;
}

#message-button {
    background-color: #3354b8!important;
}

#accept-button {
    background-color: #3880ff!important;
}

#reject-button {
    background-color: #f04141!important;
}

#mark-finished-button {
    background-color: rgb(109, 202, 17)!important;
}

#mark-paid-button {
    background-color: forestgreen!important;
}

section {
    padding: 0 10px;
}

.item-native {
    padding: 0!important;
}