<ion-header>
  <ion-toolbar>
    <ion-title>
      My Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-avatar class="worker-image">
        <img src="{{ userProfile?.profile_picture_url }}" />
      </ion-avatar>
      <div id="change-photo" class="ion-text-center"><a><ion-icon name="create"></ion-icon>Change Photo</a></div>
      <ion-card-header>
        <ion-card-title  class="ion-text-center" id="profile-name">{{ userProfile?.firstname }} {{ userProfile?.lastname }}</ion-card-title>
        <ion-card-subtitle class="ion-text-center"><ion-icon name="location"></ion-icon> {{ userProfile?.address }}</ion-card-subtitle>
        <ion-card-subtitle class="ion-text-center"><ion-icon name="call"></ion-icon> {{ userProfile?.mobile_number }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>
    <ion-list class="ion-padding">
      <ion-list-header>
        Account Settings
      </ion-list-header>
      <ion-item lines="inset" routerLink="/message-logs" routerDirection="root">
        <ion-label>
          <p><ion-icon name="chatbubbles"></ion-icon> Message Logs</p>
        </ion-label>
        <ion-badge *ngIf="messageLogsCount > 0" color="danger" slot="end">{{ messageLogsCount }}</ion-badge>
      </ion-item>
      <ion-item lines="inset">
        <ion-label>
          <p><ion-icon name="create"></ion-icon> Edit Profile</p>
        </ion-label>
      </ion-item>
      <ion-item lines="inset">
        <ion-label>
          <p><ion-icon name="key"></ion-icon> Change Password</p>
        </ion-label>
      </ion-item>
      <ion-item lines="inset" (click)="logout()">
        <ion-label>
          <p><ion-icon name="log-out"></ion-icon> Logout</p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
