<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Search Workers
    </ion-title>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content>
    
    <ion-card class="welcome-card" (click)="loadMap()">
      <ion-img src="/assets/plumbing.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Plumbing</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="welcome-card" (click)="loadMap()">
      <ion-img src="/assets/carpentry.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Carpentry</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="welcome-card" (click)="loadMap()">
      <ion-img src="/assets/painting.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Painting</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="welcome-card" (click)="loadMap()">
      <ion-img src="/assets/machinery.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Machinery</ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-content>
