<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>New Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="transactionForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Job Description <ion-text color="danger">*</ion-text></ion-label>
        <ion-textarea formControlName="job_description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Job Types</ion-label>
        <ion-select>
          <ion-select-option *ngFor="let skill of workerInfo?.skills" value="{{ skill.id }}">{{ skill.skill_name }}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Transaction Cost <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="transaction_cost"></ion-input>
      </ion-item>

      <ion-button expand="block" id="transaction-button" color="none" type="submit">Create Transaction</ion-button>
    </ion-list>
  </form>
</ion-content>
