<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>New Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="transactionForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Job Description <ion-text color="danger">*</ion-text></ion-label>
        <ion-textarea formControlName="job_description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Job Type</ion-label>
        <ion-select value="dog">
          <ion-select-option value="1">Plumbing</ion-select-option>
          <ion-select-option value="2">Carpentry</ion-select-option>
          <ion-select-option value="3">Automotive</ion-select-option>
          <ion-select-option value="4">Machinery</ion-select-option>
          <ion-select-option value="5">Electrical</ion-select-option>
          <ion-select-option value="6">Electronics</ion-select-option>
          <ion-select-option value="7">Laundry</ion-select-option>
          <ion-select-option value="8">Painting</ion-select-option>
          <ion-select-option value="9">Driving</ion-select-option>
          <ion-select-option value="10">Housekeeping</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">Transaction Cost <ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text" formControlName="transaction_cost"></ion-input>
      </ion-item>

      <ion-button expand="block" id="transaction-button" color="none" type="submit">Create Transaction</ion-button>
    </ion-list>
  </form>
</ion-content>
