
<ion-content class="login-page ion-text-center ion=padding" center>
  <div class="login-box">
    <ion-avatar class="icon-header">
      <img src="./assets/icon/bahayanihan-icon.png" />
    </ion-avatar>
    <ion-row>
      <ion-col>
          <ion-title><h1 id="login-title">BAHAYANIHAN</h1></ion-title>
          <ion-list>
            <ion-item>
              <ion-input placeholder="username or email" [(ngModel)]="usernameOrEmail"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="password" type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <!--<ion-button expand="full" id="login-button" color="none" routerLink="/main/tabs">log in</ion-button> -->
          <ion-button expand="full" id="login-button" color="none" (click)="login()">log in</ion-button>
          <p>No account yet? <a id="register-link" routerLink="/register">Register</a></p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
