// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.workerinfo-modal .modal-wrapper {
    height: 70%!important;
}

.transaction-location-modal .modal-wrapper {
    height: 60%!important;
}

ion-header { 
    --ion-toolbar-background: #c55526;
}

.back-button {
    color: #ffffff !important;
}

ion-title { 
    color: #ffffff;
}

ion-tab-button {
    color: #c55526;
}

/*.sc-ion-back-button-md, .sc-ion-back-button-ios {
    color: #ffffff;
}*/

:root {
    ion-tab-button.tab-selected {
      ion-icon, ion-label {
        color: #3354b8 !important;
        --ion-color-base: #3354b8 !important;
      }
    }
}

.item-has-focus {
    --highlight-color-valid: #3354b8;
    --highlight-color-focused: #3354b8;
}