
<ion-content padding center text-center>
  <div class="login-box">
    <ion-row>
      <ion-col>
          <ion-title>BAHAYANIHAN</ion-title>
          <ion-list>
            <ion-item>
              <ion-input placeholder="username or email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="password" type="password"></ion-input>
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button expand="full">log in</ion-button>
          <p>No account yet? <a>Register</a></p>
      </ion-col>
    </ion-row>
  </div>
  
</ion-content>
