
<ion-content class="login-page" padding center text-center>
  <div class="login-box">
    <ion-row>
      <ion-col>
          <ion-title><h1>BAHAYANIHAN</h1></ion-title>
          <ion-list>
            <ion-item>
              <ion-input placeholder="username or email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="password" type="password"></ion-input>
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button expand="full" routerLink="/main/tabs">log in</ion-button>
          <p>No account yet? <a routerLink="/register">Register</a></p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
