.login-box {
    margin-top: 5vh;
    margin-bottom: 10vh;
    background: rgba(255, 255, 255, 0.75);
    padding-bottom: 50px;
}
ion-list {
    --ion-background-color: transparent; 
}
ion-content {
    --background: none;
    background-image: url('https://image.freepik.com/free-vector/people-putting-puzzle-pieces-together_52683-28610.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

#login-button {
    background-color: #3354b8!important;
}

#register-link {
    color: #d66636;
}

#login-title {
    color: #2a2a2a;
}

.icon-header {
    width: 120px;
    height: 120px;
    margin: 10vh auto 0;
}