<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="workers-tab">
      <ion-icon name="search"></ion-icon>
      <ion-label>Workers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map-tab">
      <ion-icon name="map"></ion-icon>
      <ion-label>Locate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions-tab">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account-tab">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
