<ion-header class="header">
  <ion-toolbar>
    <ion-item lines="none" class="message-header">
      <ion-avatar slot="start">
        <img [src]="otherUserPic">
      </ion-avatar>
      <ion-label>
        <h2 class="recepient-name">{{ otherUserFirstname }}</h2>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-grid>
    <ion-row *ngFor="let message of messages">
      <ion-col offset="4" size="8" class="message my-message" *ngIf="fromUserId == message.from_user_id">
        <strong class="user-name">You</strong><br>
        <p class="message-content">{{ message.message }}</p>
        <span class="time ion-text-right"><br>
          {{ message.created_at | date: 'MMM d, yyy h:mm aaa' }}
        </span>
      </ion-col>

      <ion-col size="2" class="image-col"  *ngIf="fromUserId != message.from_user_id">
        <ion-avatar class="user-image">
            <img [src]="message.user.profile_picture_url">
          </ion-avatar>
      </ion-col>
      <ion-col size="7" class="message other-message" *ngIf="fromUserId != message.from_user_id">
        <strong class="user-name">{{ message.user.firstname }}</strong><br>
        <p class="message-content">{{ message.message }}</p>
        <span class="time ion-text-right"><br>
          {{ message.created_at | date: 'MMM d, yyy h:mm aaa' }}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row class="message-row">
      <ion-col class="message-col" size="9">
        <textarea autosize maxRows="3" [(ngModel)]="newMessage" class="message-input" placeholder="Message"></textarea>
      </ion-col>
      <ion-col class="send-col" size="3">
        <ion-button fill="clear" expand="block" strong [disabled]="newMessage === ''" class="send-button" (click)="sendMessage()">
          Send
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
