<ion-header>
  <ion-toolbar>
    <ion-title>Worker Information</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-avatar slot="start" class="worker-image">
          <img src="./assets/profile.jpg" />
        </ion-avatar>
        <ion-card-header>
          <ion-card-title text-center>Windelle John Vega</ion-card-title>
          <ion-card-subtitle text-center><ion-icon name="pin"></ion-icon> Alimannao, Peñablanca, Cagayan</ion-card-subtitle>
          <rating [rate]="rate"
            readonly="false" 
            size="default"
            (rateChange)="onRateChange($event)">
          </rating>
        </ion-card-header>
        <ion-card-content>
          <h3><strong>Skills:</strong></h3>
          <p>
            <ion-chip>
              <ion-label>Plumbing</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label>Carpentry</ion-label>
            </ion-chip>
            <ion-chip>
              <ion-label>Laundry</ion-label>
            </ion-chip>
          </p>
          <br>
          <div class="options">
            <a primary href="#"><strong>HIRE</strong></a>
            <a primary href="#"><strong>MESSAGE</strong></a>
          </div>
        </ion-card-content>
      </ion-card>
</ion-content>
