.worker-image {
    width: 100px;
    height: 100px;
    margin: 15px auto 5px;
    border: 3px solid rgba(0, 0, 0, 0.2);
}

.options {
    float: right;
    margin-bottom: 15px;
}
a {
    text-decoration: none;
    margin-left: 15px;
}

ion-card-header {
    padding-bottom: 5px;
}