<ion-header>
  <ion-toolbar>
    <ion-title>Worker Information</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-avatar class="worker-image">
          <img src="{{ workerInfo?.profile_picture_url }}" />
        </ion-avatar>
        <ion-card-header>
          <ion-card-title class="ion-text-center" id="worker-name">{{ workerInfo?.firstname }} {{ workerInfo?.lastname }}</ion-card-title>
          <ion-card-subtitle class="ion-text-center"><ion-icon name="location"></ion-icon> {{ workerInfo?.address }}</ion-card-subtitle>
          <ion-card-subtitle class="ion-text-center"><ion-icon name="call"></ion-icon> {{ workerInfo?.mobile_number }}</ion-card-subtitle>
          <rating [rate]="rate"
            readonly="false" 
            size="default"
            (rateChange)="onRateChange($event)">
          </rating>
        </ion-card-header>
        <ion-card-content>
          <h3><strong>Skills:</strong></h3>
          <p>
            <ion-chip *ngFor="let skill of workerInfo?.skills">
              <ion-label>{{ skill.skill_name }}</ion-label>
            </ion-chip>
          </p>
          <br>
          <div class="options">
            <a primary href="#"><strong>HIRE</strong></a>
            <a primary href="#"><strong>MESSAGE</strong></a>
          </div>
        </ion-card-content>
      </ion-card>
</ion-content>
